In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\satya\OneDrive\Desktop\Take_Home_Assignment_App_dev\export_2019.csv.')

C:\Users\satya\AppData\Local\Temp\ipykernel_13060\2658035294.py:1: DtypeWarning: Columns (18,19,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\satya\OneDrive\Desktop\Take_Home_Assignment_App_dev\export_2019.csv.')

In [3]:
df

,Invoice/Item Number,Date,Store Number,store_name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,item_desc,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16812800013,2019-01-08,5151,store_name_1845,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,...,38176.0,item_desc_2115,12.0,750,9.64,14.46,12,173.52,9.00,2.37
1,INV-18087600031,2019-03-12,5151,store_name_1845,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,...,27102.0,item_desc_405,6.0,750,18.09,27.14,6,162.84,4.50,1.18
2,INV-17301000008,2019-02-01,2445,store_name_1794,504 SOUTH HIGHWAY,OAKLAND,51560.0,NaN,78.0,POTTAWATTAMIE,...,36306.0,item_desc_5258,12.0,750,3.34,5.01,12,60.12,9.00,2.37
3,INV-17205500001,2019-01-29,2478,store_name_1935,ONE PRAIRIE MEADOWS DRIVE,ALTOONA,50009.0,NaN,77.0,POLK,...,19477.0,item_desc_220,12.0,"1,000",22.04,33.06,12,396.72,12.00,3.17
4,INV-17536000015,2019-02-13,5257,store_name_3096,"405, MADISON AVE",OTTUMWA,52501.0,NaN,90.0,WAPELLO,...,20247.0,item_desc_7089,12.0,"1,000",5.00,7.50,3,22.50,3.00,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625041,INV-19039700013,2019-04-29,4967,store_name_209,"102, W MAYNE ST",BLUE GRASS,52726.0,POINT (-90.766126 41.509119),82.0,SCOTT,...,36908.0,item_desc_5394,6.0,"1,750",7.47,11.21,6,67.26,10.50,2.77
625042,INV-18727000015,2019-04-11,3831,store_name_1524,301 ANNEX RD,MADRID,50156.0,POINT (-93.815365 41.87894000000001),8.0,BOONE,...,27682.0,item_desc_6440,12.0,750,10.5,15.75,3,47.25,2.25,0.59
625043,INV-18598600020,2019-04-05,4355,store_name_773,1554 BROAD ST,STORY CITY,50248.0,POINT (-93.57573 42.187733),85.0,STORY,...,39918.0,item_desc_2294,12.0,750,7.5,11.25,12,135.00,9.00,2.37
625044,INV-18537300025,2019-04-03,3952,store_name_955,3780 STATE ST,BETTENDORF,52722.0,POINT (-90.48065 41.529655),82.0,SCOTT,...,68037.0,item_desc_5076,12.0,"1,000",16.74,25.11,24,602.64,24.00,6.34
625045,INV-18581700007,2019-04-04,5340,store_name_1266,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
columns_to_clean = [
    'Bottle Volume (ml)',
    'State Bottle Cost',
    'State Bottle Retail',
    'Bottles Sold',
    'Sale (Dollars)',
    'Volume Sold (Liters)',
    'Volume Sold (Gallons)',
]

In [5]:
for column in columns_to_clean:
    # Remove commas and convert to numeric
    df[column] = pd.to_numeric(df[column].str.replace(',', '').fillna(0), errors='coerce')

In [12]:
df['County Number'] = df['County Number'].apply(lambda x: int(float(x)) if pd.notnull(x) else 0)

In [13]:
df.fillna(0, inplace=True)

In [14]:
int_columns = ['Category', 'Vendor Number', 'Item Number', 'Pack', 'Store Number']

for column in int_columns:
    df[column] = df[column].apply(lambda x: int(float(x)) if pd.notnull(x) else 0)

In [15]:
df.to_csv('cleaned_invoices.csv', index=False)

In [16]:
clean_data = pd.read_csv(r'C:\Users\satya\OneDrive\Desktop\Take_Home_Assignment_App_dev\cleaned_invoices.csv')

In [17]:
clean_data

,Invoice/Item Number,Date,Store Number,store_name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,item_desc,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16812800013,2019-01-08,5151,store_name_1845,"500, HWY 175",IDA GROVE,51445.0,0,47,IDA,...,38176,item_desc_2115,12,750,9.64,14.46,12,173.52,9.00,0.00
1,INV-18087600031,2019-03-12,5151,store_name_1845,"500, HWY 175",IDA GROVE,51445.0,0,47,IDA,...,27102,item_desc_405,6,750,18.09,27.14,6,162.84,4.50,0.00
2,INV-17301000008,2019-02-01,2445,store_name_1794,504 SOUTH HIGHWAY,OAKLAND,51560.0,0,78,POTTAWATTAMIE,...,36306,item_desc_5258,12,750,3.34,5.01,12,60.12,9.00,0.00
3,INV-17205500001,2019-01-29,2478,store_name_1935,ONE PRAIRIE MEADOWS DRIVE,ALTOONA,50009.0,0,77,POLK,...,19477,item_desc_220,12,1000,22.04,33.06,12,396.72,12.00,0.00
4,INV-17536000015,2019-02-13,5257,store_name_3096,"405, MADISON AVE",OTTUMWA,52501.0,0,90,WAPELLO,...,20247,item_desc_7089,12,1000,5.00,7.50,3,22.50,3.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625041,INV-19039700013,2019-04-29,4967,store_name_209,"102, W MAYNE ST",BLUE GRASS,52726.0,POINT (-90.766126 41.509119),82,SCOTT,...,36908,item_desc_5394,6,1750,0.00,0.00,6,67.26,10.50,2.77
625042,INV-18727000015,2019-04-11,3831,store_name_1524,301 ANNEX RD,MADRID,50156.0,POINT (-93.815365 41.87894000000001),8,BOONE,...,27682,item_desc_6440,12,750,0.00,0.00,3,47.25,2.25,0.59
625043,INV-18598600020,2019-04-05,4355,store_name_773,1554 BROAD ST,STORY CITY,50248.0,POINT (-93.57573 42.187733),85,STORY,...,39918,item_desc_2294,12,750,0.00,0.00,12,135.00,9.00,2.37
625044,INV-18537300025,2019-04-03,3952,store_name_955,3780 STATE ST,BETTENDORF,52722.0,POINT (-90.48065 41.529655),82,SCOTT,...,68037,item_desc_5076,12,1000,0.00,0.00,24,602.64,24.00,6.34
625045,INV-18581700007,2019-04-04,5340,store_name_1266,0,0,0.0,0,0,0,...,0,0,0,0,0.00,0.00,0,0.00,0.00,0.00